.header {
    line-height: 1.0;
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.password {
    overflow-wrap: break-word;
    margin: 20px auto 5px auto;
    padding: 10px;
    border: 3px solid lightseagreen;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.generateButton {
    background-color: lightseagreen;
    color: white;
    font-size: 1.3em;
    margin: 10px 0;
    border-radius: 15px;
    display: block;
    width: 100%;
}

.copyButton {
    font-size: 1em;
    margin: 10px auto;
    display: block;
}

.mediumFont {
    font-size: 18px;
    margin-bottom: 0;
}

.optionsHeading {
    margin-top: 10px;
    font-weight: bold;
}

.smallFont {
    /*  margin-top: 0;
      margin-bottom: 5px;*/
    font-size: 14px;
}

.passwordOptions {
    margin: auto;
    padding: 10px 10px;
    border: 3px solid lightgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    margin-left: 20px;
}

.cc label {
    display: block;
}

.root {
    max-width: 400px;
    margin: 20px auto;
}

.specialDrop {
    display: flex;
}